<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.copdedestral">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HostelVote"></activity>
        <activity android:name=".FeedbackList" />
        <activity android:name=".StudentsApproval" />
        <activity android:name=".StudentsList" />
        <activity android:name=".HostelComplaints" />
        <activity android:name=".StudentsToBeVerified" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".HostelDashboard" />
        <activity android:name=".AccountDetailsActivity" />
        <activity android:name=".VotingActivity" />
        <activity android:name=".FeedbackActiivity" />
        <activity android:name=".FoodSelectionActivity" />
        <activity android:name=".StudentDashboard" />
        <activity android:name=".StudentSignUpActivity" />
        <activity android:name=".HostelActivity" />
        <activity android:name=".MessActivity" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>